<nav class="navbar navbar-default navbar-static-bottom">
  <div class="container" style = "text-align: center">
    <p><strong>Author:</strong> Azmarino</p>
    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
    Azmarino, Inc 2019
  </div>
</nav>